/* http://revolutionnaire.github.io/
   v0.1 | 20190111
   License: none (public domain)
*/

body {
  color: rgb(21, 34, 186);
  font-family: 'Space Mono', monospace;
  margin: 1rem;

  @media (min-width: 768px) {
    width: 50rem;
  }

}

a, a:active, a:hover, a:visited {
  color: rgb(21, 34, 186);
}

small {
  color: rgb(93, 104, 134);
  display: block;
}
