---
---
@import "normalize";

body {
  margin-top: 2em;
  margin-right: 36px;
  margin-bottom: 2em;
  margin-left: 36px;

  &#home {
    background: #000 url('/assets/images/fireworks.gif') repeat-y center bottom;
    background-size: cover;
    color: #CCC;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins';
  font-weight: 900;
  text-rendering: optimizeLegibility;
}

a {
  color: #FFF;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

.violator {
  width: 200px;
  height: 120px;
  background-color: #F0F;
  text-align: center;
  padding: 60px 20px;
  margin: 2rem auto;
  border-radius: 120px;

  a:hover {
    text-decoration: none;
    opacity: 0.5;
  }
}

#introduction-1,
#introduction-2,
#introduction-3 {
  font-size: 2.5em;
  margin: 0;
  position: static;
  transform: none;
}

#introduction-1 {
  color: #0FF;
}

#introduction-2 {
  color: #F0F;
}

#introduction-3 {
  color: #FF0;
}

@media (min-width: 1180px) {

  .violator {
    position: absolute;
    left: 240px;
  }

  #introduction-1,
  #introduction-2,
  #introduction-3 {
    font-size: 50px;
    position: absolute;
  }

  #introduction-1 {
    transform: rotate(45deg);
    top: 179px;
    left: 681px;
  }

  #introduction-2 {
    text-align: right;
    transform: rotate(-45deg);
    top: 296px;
    left: 327px;
  }

  #introduction-3 {
    text-align: right;
    transform: rotate(-45deg);
    top: 463px;;
    left: 654px;
  }

}
