---
---
@import 'normalize';

@keyframes hop {
  from { transform: translate(50%, 0); }
  to { transform: translate(50%, -100%); }
}

body {
  background: #000;

  &#home,
  &#confirmation {
    background: #000 url('/assets/images/fireworks.gif') repeat-y fixed center bottom;
    background-size: cover;
  }
}

article header,
article section,
article footer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-kerning: auto;
  text-rendering: optimizeLegibility;
}

h3 {
  font-size: 2rem;
}

a {
  color: #FFF;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.text-white {
  color: #FFF;
}

.text-center {
  text-align: center;
}

.text-no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.center-vh {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.button {
  width: max-content;
  background-color: #FFF;
  color: #000;
  font-family: 'Poppins', sans-serif;
  padding: 12px;
  border: none;

  &:hover {
    background-color: #000;
    color: #FFF;
    text-decoration: none;
  }
}

.violator {
  width: calc(60vh - 24px);
  background-color: #FFF;
  color: #000;
  font-size: 2rem;
  padding: calc((60vh - 6rem * 1.15) / 2) 12px;
  border-radius: 50%;
  display: block;

  &:hover {
    background-color: #000;
    color: #FFF;
    text-decoration: none;
  }
}

.stack {
  height: 100vh;
  overflow: hidden;
  position: relative;

  > section {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.phrase {
  display: inline-block;
}

.down-arrow {
  position: absolute;
  right: 50%;
  bottom: 24px;
  animation: 0.5s cubic-bezier(.83, .67, .17, .67) 0s infinite alternate both running hop;

  > path {
    fill: #FFF;
  }

  &.reverse path {
    fill: #000;
  }
}

.panels {
  display: flex;
  flex-direction: row;

  .panel {
    width: 100vw;
    height: 100vh;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
  }
}

.feature {
  width: calc(100vw - 24px);

  @media only screen and (min-width: 768px) {
    width: 420px;
  }
}

#confirmation article section,
#error article header,
#error article section {
  color: #FFF;
  width: calc(100vw - 24px);
  height: auto;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    width: 420px;
  }
}

#confirmation h1 {
  color: #F0F;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

#section-1 {
  h1 {
    color: #0FFF;
  }

  .button {
    transform: translate(50%, 5rem);
  }
}

#section-2 {
  background: #FFF;

  #introduction {
    background: #FFF;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    overflow: hidden;
  }
}

#section-3 {
  background-color: #FFF;

  a {
    color: #000;
  }
}

#section-5 {
  background-color: #0FFF;

  svg > path {
    fill: #000;
  }
}

#section-6 {
  background-color: #F0F;
  height: auto;
}

#section-7 {
  background-color: #FF0;
}

#introduction,
#social-media,
#experience,
#services {
  width: calc(100vw - 24px);
  font-size: 2rem;
  margin: 0 auto;

  // For iPad mini and larger screens
  @media only screen and (min-width: 768px) {
    width: 420px;
  }
}

#social-media {
  color: #F0F;
}

#experience {
  color: #FF0;
}

#services {
  position: absolute;
  top: 8rem;
  right: 50%;
  transform: translateX(50%);

  @media only screen and (min-width: 768px) {
    top: 10rem;
  }
}

#colophon {
  font-size: 0.667rem;
  position: absolute;
  right: 50%;
  bottom: 24px;
  transform: translateX(50%);
}
