<html lang="en">
  {% include head.html %}
  <body id="home">
    <!-- Begin Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SRWWLP"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="violator">
      <h2>
        <a href="https://baacay.threadless.com/">
        Buy Shirts <br />
        and Other Merchandises
        </a>
      </h2>
    </div>
    <h1 id="introduction-1">
      Hi! I’m Samuel,<br />
      a graphic designer<br />
      from the PH.
    </h1>
    <h2 id="introduction-2">
      I’m on <a href="https://be.net/samuelbacay" title="View my previous works" >Behance</a>,<br />
      <a href="https://www.linkedin.com/in/samuel-bacay-402864159/">LinkedIn</a>,<br />
      and <a href="https://www.fiverr.com/samuelbacay">Fiverr</a>.<br />
      I code in HTML,<br />
      CSS, and Javascript.
    </h2>
    <h2 id="introduction-3">
      I’m skilled in<br />
      Adobe Photoshop,<br />
      Illustrator,<br />
      InDesign, <br />
      and Figma.
    </h2>
  </body>
</html>
